@model VillaNumberDeleteDTOWithItsVillaNameVM

<form asp-action="Delete" asp-controller="VillaNumber" class="container mt-4">

    @* villa number is disabled here so we need hidden property for it  *@
    <input hidden asp-for="@Model.VillaNumber.VillaNo" /> 

    <div class="mb-3">
        <label asp-for="VillaNumber.VillaNo" class="form-label"></label>
        <input asp-for="VillaNumber.VillaNo" disabled class="form-control" />
    </div>

    <hr />
    <label asp-for="VillaNumber.VillaId" class="control-label"></label>
    <select asp-for="VillaNumber.VillaId" disabled asp-items="Model.VillaList">
        <option disabled selected> -- Select Category --</option>
    </select>

    <hr />

    <div class="mb-3">
        <label asp-for="VillaNumber.Details" class="form-label"></label>
        <textarea asp-for="VillaNumber.Details" disabled class="form-control" rows="4"></textarea>
    </div>



    <div class="d-flex justify-content-between mt-5">
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
        <input type="submit" value="Delete" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
