
@model VillaCreateDTO

<form asp-action="Create" asp-controller="Villa" enctype="multipart/form-data" class="container mt-4" >
      <br />
    <div class="container border p-3">

        <h1 class="text-primary">Add New Villa</h1>
        <hr />

    <div asp-validation-summary="All" class="@(ViewData.ModelState.IsValid ? "" : "alert alert-danger")"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Details" class="form-label"></label>
        <textarea asp-for="Details" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Rate" class="form-label"></label>
            <input asp-for="Rate" class="form-control" />
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="SqFt" class="form-label"></label>
            <input asp-for="SqFt" class="form-control" />
            <span asp-validation-for="SqFt" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Occupancy" class="form-label"></label>
            <input asp-for="Occupancy" class="form-control" />
            <span asp-validation-for="Occupancy" class="text-danger"></span>
        </div>
        <div class="col-md-6">

            <label asp-for="ImgUrl" class="form-label"></label>
            <input asp-for="Image" class="form-control" />
            <input asp-for="ImgUrl" hidden class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Amenity" class="form-label"></label>
        <textarea asp-for="Amenity" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Amenity" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between " style="width:19%">
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
