
a{
    text-decoration: none;
    cursor: pointer;
    font-size : 22px;

}

a.add {
    border:1px solid royalblue;
    padding:5px 8px;
}

a:hover {
    opacity:0.88;
    }


a:active {
       transform: scale(887);
}